# Binary
dirgo
dirgo.exe

# Build output
bin/
dist/
build/

# IDE
.vscode/
.idea/

# Temp & logs
*.log
*.out
*.tmp
*.cache
*.bak

# OS
.DS_Store
Thumbs.db

# Go
vendor/
coverage/

# Profiling
*.prof
*.test

# Env
*.env
.github/
